/* ********** nav css ************** */

.bi-stopwatch {
    position: absolute;
    margin-left: -7%;
    margin-top: 4px;
    color: #fff;
}

.bi-phone-vibrate{
    position: absolute;
    margin-left: -29px;
    margin-top: 5px;
    color: #fff;
}

.menuHolder .logo img {
    height: 98px;
    width: 283px;
    margin-top: -16px;
    margin-left: -50px;
    display: block;
}


/* ********** nav css ************** */

/* ******** TIME Chat Css *********** */
.btWorkingHoursInnerLink a:after {
    display: none;
}

#bi-stopwatch .bi-stopwatch{
    margin-left: -20px;
}

/* ******** TIME Chat Css *********** */


/* ******** footer css *********** */
.btImage #Last_Logo{
    width: 41%;
}

/* ******** footer css *********** */


