
/* ********** nav css ************** */

.bi-stopwatch {
    position: absolute;
    margin-left: -7%;
    margin-top: 4px;
    color: #fff;
}

.bi-phone-vibrate {
    position: absolute;
    margin-left: -29px;
    margin-top: 5px;
    color: #fff;
}

.menuHolder .logo img {
    height: 98px;
    width: 283px;
    margin-top: -16px;
    margin-left: -50px;
    display: block;
}


/* ********** nav css ************** */


.PHONE_CONTACT {
    position: absolute;
    background-color: #007ac6;
    margin-top: -55px;
    margin-left: -40px;
    border-radius: 90px;
    height: 80px;
    width: 80px;

}


#PHONE_CONTACT_img {
    height: 60px;
    width: 90px;
    margin-top: 10px;
}

.PHONE_CONTACT .bi-geo-alt-fill,
.PHONE_CONTACT .bi-heart-pulse {
    margin-top: 20px;
}

.rowItemContent .btImage #Doctors {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 0px;
    height: 375px;
    width: 100%;
}


.bi-caret-down-fill {
    position: relative;
    color: #007AC6;
    display: flex;
    top: -18px;
    margin-left: 500px;
}


/* ******** footer css *********** */

.btImage #Last_Logo {
    width: 41%;
}

/* ******** footer css *********** */
