
/* ********** nav css ************** */

.bi-stopwatch {
    position: absolute;
    margin-left: -73px;
    margin-top: 4px;
    color: #fff;
}

.bi-phone-vibrate {
    position: absolute;
    margin-left: -29px;
    margin-top: 5px;
    color: #fff;
}

.bi-facebook {
    position: absolute;
    margin-left: 10px;
    margin-top: -10px;
    color: gray;
}


.bi-twitter {
    position: absolute;
    margin-left: 30px;
    margin-top: -10px;
    color: gray;
}

.bi-linkedin {
    position: absolute;
    margin-left: 50px;
    margin-top: -10px;
    color: gray;
}

.bi-search {
    position: absolute;
    margin-left: -10px;
    margin-top: 29px;
}

.touch .menuPort nav>ul>li.menu-item-has-children>.subToggler {
    display: none;
}

.topBar .widget_search button,
.topBarInMenu .widget_search button {
    display: block;
    top: -161%;
}

.menuHolder .logo img {
    height: 98px;
    width: 283px;
    margin-top: -16px;
    margin-left: -50px;
    display: block;
}



/* ********** nav css ************** */


iframe{
    height: 700px;
}

.sIcon svg {
    color: #007ac6;
}

.sTxt1 .header .headline {
    display: block;
    margin-top: 66px;
    margin-left: -5px;
}

.header.large .btSuperTitle {
    margin: 35px 0 14px;
}


.map_canvas64994da4d5cd5{
    height: 1000px;
}


/* ***************  footer Css ********************** */

.btImage img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 22px;
    width: 41%;
}

#fb-last {
    color: #007ac6;
    margin-left: -10px;
    margin-top: 3px;
}

#tw-last {
    color: #007ac6;
    margin-left: -10px;
    margin-top: 3px;
}


#Li-last {
    color: #007ac6;
    margin-left: -10px;
    margin-top: 3px;
}

.Dentist_round {
    position: absolute;
    background-color: #007ac6;
    width: 80px;
    height: 80px;
    border-radius: 60px;
    margin-top: -40px;
    transition: 0.55s;
}


#fb {
    position: absolute;
    margin-left: -22px;
    margin-top: 7px;
    color: #ffffff;
}

#tw {
    margin-left: -32px;
    margin-top: 7px;
    color: #ffffff;
}

#Go {
    margin-left: -23px;
    margin-top: 7px;
    color: #ffffff;
}

#tw1 {
    margin-left: -22px;
    margin-top: 7px;
    color: #ffffff;
}

#fb1 {
    position: absolute;
    margin-left: -30px;
    margin-top: 0px;
    color: #fff;
}

#fb1:hover,
#TW2:hover,
#go1:hover {
    color: #007ac6;
}

#go1 {
    margin-left: 30px;
    margin-top: 0px;
    color: #fff;
}

#TW2 {
    margin-left: 0px;
    margin-top: 0px;
    color: #fff;
}
/* ***************  footer Css ********************** */