.menuHolder .logo img {
    height: 98px;
    width: 283px;
    margin-top: -16px;
    margin-left: -50px;
    display: block;
}


.btMenuHorizontal.btMenuRight .menuPort nav {
    float: right;
    margin-top: 10px;
}

.btContentHolder figure, .btContentHolder img, .btContentHolder select {
    max-width: 102%;
    margin-top: 1px;
    height: auto;
}

.btCircleImage .btImage img {
    width: auto;
    margin-left: 0px;
}

.btImage img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 22px;
    width: 41%;
}

.btContentHolder img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 0px;
    width: 192%;
}

.wBackground.cover{
    background-position: 49% 40px;
}

.btTextIndent .btImage img {
    width: 100%;
    max-width: none;
    display: block;
    margin: 0;
    height: 285px;
}


.bi-stopwatch{
    position: absolute;
    margin-left: -73px;
    margin-top: 4px;
    color: #fff;
}

.bi-phone-vibrate{
    position: absolute;
    margin-left: -29px;
    margin-top: 5px;
    color: #fff;
}

.bi-facebook{
    position: absolute;
    margin-left: 10px;
    margin-top: -10px;
    color: gray;
}


.bi-twitter{
    position: absolute;
    margin-left: 30px;
    margin-top: -10px;
    color: gray;
}

.bi-linkedin{
    position: absolute;
    margin-left: 50px;
    margin-top: -10px;
    color: gray;
}

.bi-search{
    position: absolute;
    margin-left: -10px;
    margin-top: -5px;
}

.btLightSkin button:before{
    display: none;
    /* margin-top: 0px; */
}

.topBar .widget_search button:before{
    display: none;
}

.sIcon svg{
    color: #007ac6;
}


.sIcon1 svg{
    color: #007ac6;
}
.sTxt1 .header .headline {
    display: block;
    margin-top: 66px;
}

.btIconImageRow svg{
    color: #007ac6;
}


.btIconImageRow svg{
    counter-reset: #00c6af;
}

.btIconImageRow #Ivf{
    width: 110px;
}


#Dental{
    width: 120px;
    /* height: 150px; */
}

#Dental1{
    width: 130px;
    height: 150px;
}

#GYNECOLOGY{
    height: 120px;
}


.bi-chevron-down{
    position: absolute;
    margin-top: -70px;
    margin-left: 170px;
}


.fancy-select .trigger:after {
    display: none;
}

#fb{
    position: absolute;
    margin-left: -22px;
    margin-top: 7px;
    color: #ffffff;
}

#tw{
    margin-left: -32px;
    margin-top: 7px;
    color: #ffffff;
}

#Go{
    margin-left: -23px;
    margin-top: 7px;
    color: #ffffff;
}

#tw1{
    margin-left: -22px;
    margin-top: 7px;
    color: #ffffff;
}

#fb1{
    position: absolute;
    margin-left: -30px;
    margin-top: 0px;
    color: #fff;
}

#fb1:hover,
#TW2:hover,
#go1:hover{
    color: #007ac6;
}

#go1{
    margin-left: 30px;
    margin-top: 0px;
    color: #fff;
}

#TW2{
    margin-left: 0px;
    margin-top: 0px;
    color: #fff;
}

#phone{
    margin-left: 2px;
    margin-top: -10px;
}


#fb-last{
    color: #007ac6;
    margin-left: -10px;
    margin-top: 3px;
}

#tw-last{
    color: #007ac6;
    margin-left: -10px;
    margin-top: 3px;
}


#Li-last{
    color: #007ac6;
    margin-left: -10px;
    margin-top: 3px;
}

.Dentist_round{
    position: absolute;
    background-color: #007ac6;
    width: 80px;
    height: 80px;
    border-radius: 60px;
    margin-top: -40px;
    transition: 0.55s;
}

/* .Dentist_round:hover{
    background-color: white;
} */

.Dentist_round1{
    position: absolute;
    background-color: #007ac6;
    width: 80px;
    height: 80px;
    border-radius: 60px;
    margin-top: -90px;
    transition: 0.55s;
}

#Dentist{
    margin-top: -20px;
}

#Pediatrician{
    margin-top: -5px;
}

#Health{
    margin-top: -8px;
}

#GYNECOLOGY1{
    margin-top: -15px;
}

.Dr_Pediatrician{
    position: absolute;
    background-color: #007ac6;
    margin-top: -105px;
    border-radius: 90px;
}

#Dr_Pediatrician_img{
    height: 100px;
    width: 100px;
}

.Dr_Surgeon{
    position: absolute;
    background-color: #007ac6;
    margin-top: -105px;
    border-radius: 90px;
}

#Dr_Surgeon_img{
    height: 110px;
    width: 100px;
margin-top: -10px
}
#Laboratory{
    margin-top: 10px;
}
#Pediatrics{
    /* position: absolute; */
    margin-top: -35px;
}

.wBackground.cover {
    background-position: 68% -59px;
}

.rowItemContent .btTextCenter #Two-Dr{
    margin-top: -40px;
}