/* ********** nav css ************** */

.bi-stopwatch {
    position: absolute;
    margin-left: -73px;
    margin-top: 4px;
    color: #fff;
}

.bi-phone-vibrate{
    position: absolute;
    margin-left: -29px;
    margin-top: 5px;
    color: #fff;
}

.menuHolder .logo img {
    height: 98px;
    width: 283px;
    margin-top: -16px;
    margin-left: -50px;
    display: block;
}
.wBackground.cover {
    background-position: 68% -59px;
}

.rowItemContent .btTextCenter #Two-Dr {
    margin-top: -40px;
}


/* ********** nav css ************** */

/* ******** Dr Info ******** */

.Dr_Pediatrician{
    position: absolute;
    background-color: #007ac6;
    margin-top: -105px;
    border-radius: 90px;
}

#Pediatrics{
    /* position: absolute; */
    margin-top: -35px;
}
#Dr_Pediatrician_img{
    height: 100px;
    width: 100px;
}

.Dr_Surgeon{
    position: absolute;
    background-color: #007ac6;
    margin-top: -105px;
    border-radius: 90px;
}

#Dr_Surgeon_img{
    height: 110px;
    width: 100px;
    margin-top: -10px;
}

.btTextIndent .btImage img {    
    height: 273px;
}



#GYNECOLOGY1{
    margin-top: -15px;
}

#Laboratory{
    margin-top: 10px;
}

#Pediatrics{
    /* position: absolute; */
    margin-top: -35px;
}


#Dental1{
    width: 130px;
    height: 170px;
}

/* ******** Dr Info ******** */

/* ************** last round **************** */

.btContentHolder #circal_f1 {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: 50px;
    width: 100%;
    margin-top: -170px;
}

.bt_bb_progress_bar_advanced[data-container-type="circle"] .progressbar-text {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    display: none;
    transform: none !important;
}


.rowItemContent #circal_f1 {
    margin-top: -155px;
    width: 200px;
}

.bt_bb_progress_bar_advanced>p {
    font-family: "Montserrat";
    margin-top: 65px;
}


/* ************** last round **************** */


/* ******** footer css *********** */
.btImage #Last_Logo{
    width: 41%;
}

/* ******** footer css *********** */