/* ********** nav css ************** */

.bi-stopwatch {
    position: absolute;
    margin-left: -73px;
    margin-top: 4px;
    color: #fff;
}

.bi-phone-vibrate {
    position: absolute;
    margin-left: -29px;
    margin-top: 5px;
    color: #fff;
}

.menuHolder .logo img {
    height: 98px;
    width: 283px;
    margin-top: -16px;
    margin-left: -50px;
    display: block;
}


/* ********** nav css ************** */


.btIconImageRow svg {
    color: #007ac6;
}

.bt_bb_height_auto .slick-slider .slick-slide img {
    max-width: none;
    width: 69%;
    margin-left: 54px;
    height: auto;
    display: block;
}


/* ******** footer css *********** */
.btImage #Last_Logo {
    width: 41%;
}

/* ******** footer css *********** */