/* ********** nav css ************** */

.bi-stopwatch {
    position: absolute;
    margin-left: -7.2%;
    margin-top: 4px;
    color: #fff;
}

.bi-phone-vibrate {
    position: absolute;
    margin-left: -29px;
    margin-top: 5px;
    color: #fff;
}

.menuHolder .logo img {
    height: 98px;
    width: 283px;
    margin-top: -16px;
    margin-left: -50px;
    display: block;
}


/* ********** nav css ************** */

/* ******** TIME Chat Css *********** */
.btWorkingHoursInnerLink a:after {
    display: none;
}

#bi-stopwatch .bi-stopwatch{
    margin-left: -20px;
}


#Smile_img,
#ARRIVE_img,
#ARRANGE_img,
#TIME_img{
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-top: 15px;
}


.Smile,
.ARRIVE,
.ARRANGE,
.TIME{
    position: absolute;
    background-color: #007ac6;
    margin-left: -90px;
    border-radius: 90px;
    height: 80px;
    width: 80px;
}
/* ******** TIME Chat Css *********** */


 /* ********** Map address Call chat css *********** */

iframe{
    height: 700px;
}

.sIcon svg {
    color: #007ac6;
}

.sTxt1 .header .headline {
    display: block;
    margin-top: 66px;
    margin-left: -5px;
}

.header.large .btSuperTitle {
    margin: 35px 0 14px;
}


 /* ********** address Call chat css *********** */




/* ******** footer css *********** */
.btImage #Last_Logo {
    width: 41%;
}

/* ******** footer css *********** */




